extends sensor-template.pug

block content
    div#dust.with_center_text
        h2 Particle Concentration is #[span#particale_status.red #[span#pm25 10] Percent - Warning!]
        div#pie1
            p ?https://plot.ly/javascript/gauge-charts/