extends sensor-template.pug

block content
    div#safety_barrier.with_center_text
        h2 Safety Barrier #[span#barrier_status.green ONLINE]
        //- div#sensor
        //-     img(src="/images/c4000advanced.jpg")