extends sensor-template.pug

block content
    div#safety_area.with_center_text
        h2 Diameter Measurement
        div#graph
        //- div#sensor_with_aoe
        //- img(src="/images/inspectorp65x.png")