extends sensor-template.pug

block content
    div#safety_area.with_center_text
        h2 Area is #[span#area_status.green SAFE]
        //- div#sensor_with_aoe
        //-     img(src="/images/sensor_with_aoe.png")