//- https://pugjs.org/language/attributes.html

html
  head
    title= title
    <script src="/js/plotly-latest.min.js"></script>
    <script src="/js/mycharts.js"></script>
    link(rel='stylesheet', href='/css/style.css')
  body(onload="init('"+ sensor +"')")
    div#header
        img(src="/images/logo/fenxi-logo.svg")
        h1=message

    block content

    div.with_center_text
        img(src=`/images/${image}.png`, style="width:20%")

